<table>
  <tr>
    <button mat-stroked-button routerLink="/characters-list">Characters</button>
  </tr>
  <tr>
    <button mat-stroked-button routerLink="/films-list">Films</button>
  </tr>
  <tr>
    <button mat-stroked-button routerLink="/species-list">Species</button>
  </tr>
  <tr>
    <button mat-stroked-button routerLink="/starships-list">Starships</button>
  </tr>
  <tr>
    <button mat-stroked-button routerLink="/vehicles-list">Vehicles</button>
  </tr>
  <tr>
    <button mat-stroked-button routerLink="/planets-list">Planets</button>
  </tr>
</table>
