{{starshipData.name}}<br>
{{starshipData.model}}<br>
{{starshipData.starship_class}}<br>
{{starshipData.manufacturer}}<br>
{{starshipData.cost_in_credits}}<br>
{{starshipData.length}}<br>
{{starshipData.crew}}<br>
{{starshipData.passengers}}<br>
{{starshipData.max_atmosphering_speed}}<br>
{{starshipData.hyperdrive_rating}}<br>
{{starshipData.MGLT}}<br>
{{starshipData.cargo_capacity}}<br>
{{starshipData.consumables}}<br>
{{starshipData.films}}<br>
{{starshipData.pilots}}<br>
{{starshipData.url}}<br>
{{starshipData.created}}<br>
{{starshipData.edited}}<br>

<app-comments></app-comments>
