{{vehicleData.name}}<br>
{{vehicleData.model}}<br>
{{vehicleData.vehicle_class}}<br>
{{vehicleData.manufacturer}}<br>
{{vehicleData.length}}<br>
{{vehicleData.cost_in_credits}}<br>
{{vehicleData.crew}}<br>
{{vehicleData.passengers}}<br>
{{vehicleData.max_atmosphering_speed}}<br>
{{vehicleData.cargo_capacity}}<br>
{{vehicleData.consumables}}<br>
{{vehicleData.films}}<br>
{{vehicleData.pilots}}<br>
{{vehicleData.url}}<br>
{{vehicleData.created}}<br>
{{vehicleData.edited}}<br>

<app-comments></app-comments>
