Name: {{characterData.name}}<br>
Height: {{characterData.height}}<br>
Mass: {{characterData.mass}}<br>
Hair colour: {{characterData.hair_color}}<br>
Skin colour: {{characterData.skin_color}}<br>
Eye colour: {{characterData.eye_color}}<br>
Birth year: {{characterData.birth_year}}<br>
Gender: {{characterData.gender}}<br>
Homeworld: {{characterData.homeworld}}<br>
Films: {{characterData.films}}<br>
Species: {{characterData.species}}<br>
Vehicles: {{characterData.vehicles}}<br>
Starships: {{characterData.starships}}<br>
Created: {{characterData.created}}<br>
Edited: {{characterData.edited}}<br>
URL: {{characterData.url}}<br>

<app-comments></app-comments>
